@import 'styles/variables';

body, html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.page {
    min-height: calc(100vh - 121px);
    background-color: $white;
}

.is-error {
    border-color: #dc3545;
}

.jumbotron {
    background-color: $white;
}