@media (max-width: 991px) {
    .account {
        .account__greeting {
            font-size: 20px;
        }

        .account__short-url {
            font-size: 16px;
        }

        .account__original-url {
            font-size: 14px;
        }

        .account__used {
            font-size: 12px;
        }

        .account__date {
            font-size: 14px;
        }
    }

}

