<header class="header">
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand header__logo" href="/">URL<span class="header__hightlight">Short</span>ener</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ml-auto">
          <a routerLink="/login" class="nav-link" *ngIf="!isAuthenticated()">Login</a>
          <a routerLink="/account" class="nav-link" *ngIf="isAuthenticated()">Account</a>
        </li>
      </ul>
    </div>
  </nav>
</header>